<h3>Add Student</h3>

<form>
    <div class="mb-3">
        <label class="form-label">first_name</label>
        <input type="text" class="form-control" placeholder="Enter firstName">
       
      </div> 

      <div class="mb-3">
        <label class="form-label">last_name</label>
        <input type="text" class="form-control" placeholder="Enter lastName">
       
      </div> 

    <div class="mb-3">
      <label class="form-label">email</label>
      <input type="email" class="form-control" placeholder="Enter Email">
     
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>